.setPassword{
   width: 100%;
   height: 70vh; 
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   &__header{
    margin: -50px 0 50px 0;
   }
   &__inp{
    width: 250px;
    height: 40px;
    background-color: inherit;
    padding-left: 10px;
    border-radius: 6px;
    margin: 10px 0px;
    border: 2px solid #333;
    margin: 0 20px;
    font-size: 17px;
    &:focus{
        border: 2px solid #FFC700;
        outline: none !important;
    }
}
&__btn{
    width: 200px;
    height: 45px;
    background-color: #000;
    color: #FFC700;
    font-weight: 600;
    font-size: 17px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
    margin: 40px 10px;
    &:last-child{
        background-color: #FFC700;
        color: #000;
    }
}
&__row{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
}